<!DOCTYPE html>
<html>
  <head>
    <title>Checkers</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="index.css" />
    <link rel="stylesheet" href="about.css" />
  </head>
  <body>
    <div style="isolation:isolate;" class="about-section">
      <h1>About Us Page</h1>
      <p></p>
      <p>
        This website is home to the game of checkers. You can choose to play
        either in single player or in multiplayer.
      </p>
      <p>
        There are two levels of difficulty which you can choose to play against,
        those being easy and hard
      </p>
      <p>
        There are two themes, light and dark, which you can adjust according to
        your preference at any time.
      </p>
      <!-- <p>Resize the browser window to see that this page is responsive by the way.</p> -->
    </div>

    <h2 style="text-align: center; margin-top: 20px">Our Team</h2>
    <div class="row">
      <div class="column">
        <div class="card">
          <img src="images/1.png" alt="Atharva Patil" />
          <div class="container">
            <h5 style="text-align: center"><b>Atharva Patil</b></h5>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem
              tenetur perferendis eligendi.
            </p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <img src="images/2.png" alt="Sahil Kedare" />
          <div class="container">
            <h5 style="text-align: center"><b>Sahil Kedare</b></h5>
            <p>
              Sint iste facere repudiandae minima ratione obcaecati sequi. Nisi
              architecto quas inventore.
            </p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <img src="images/3.jpeg" alt="Aryan Devikar" />
          <div class="container">
            <h5 style="text-align: center"><b>Aryan Devikar</b></h5>
            <p>
              Porro maxime dolorum pariatur aliquid molestias, illum corrupti
              ullam reiciendis in est!
            </p>
          </div>
        </div>
      </div>
    </div>

    <script
      language="javascript"
      type="text/javascript"
      src="index.js"
    ></script>
  </body>
</html>
