<!DOCTYPE html>
<html>
  <head>
    <title>Checkers</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF"
      crossorigin="anonymous"
    />
    <link href="about.css" />
    <link href="index.css" />
  </head>
  <body>
    <!-- <h1 class="mt-4">Dashboard</h1> -->
    <!-- <p class="lead mb-3">Welcome <%=name %></p> -->

    <script language="javascript" type="text/javascript" src="p5.js"></script>
    <script
      language="javascript"
      type="text/javascript"
      src="checkers.js"
    ></script>
    <script
      language="javascript"
      type="text/javascript"
      src="engine.js"
    ></script>
    <script
      language="javascript"
      type="text/javascript"
      src="index.js"
    ></script>
    <style>
      canvas {
        display: block !important;
        margin: auto !important;
      }
    </style>
  </body>
</html>
