<!DOCTYPE html>
<html>
  <head>
    <title>Checkers</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="index.css" />
    <link rel="stylesheet" href="about.css" />
  </head>
  <body>
    <div style="isolation: isolate" class="about-section">
      <h1 style="font-family: courgette">About Us Page</h1>
      <p></p>
      <p>
        This is a checkers game website. Here user can register and sign-in,
        then there's the home page with the checkers game.
      </p>
      <p>
        Then there's the rules page with all the game's rules and details. We
        also have a contact form.
      </p>
      <p>
        Then there's the profile page with all the user's statistics and score,
        and finally the leaderboard page with all the users' rankings.
      </p>
      <!-- <p>Resize the browser window to see that this page is responsive by the way.</p> -->
    </div>

    <h2 style="text-align: center; margin-top: 20px; font-family: courgette">
      Our Team
    </h2>
    <div class="row">
      <div class="column">
        <div class="card">
          <img src="images/1.png" alt="Atharva Patil" />
          <div class="container">
            <h5 style="text-align: center"><b>Atharva Patil</b></h5>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem
              tenetur perferendis eligendi.
            </p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <img src="images/2.png" alt="Sahil Kedare" />
          <div class="container">
            <h5 style="text-align: center"><b>Sahil Kedare</b></h5>
            <p>
              Sint iste facere repudiandae minima ratione obcaecati sequi. Nisi
              architecto quas inventore.
            </p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <img src="images/3.jpeg" alt="Aryan Devikar" />
          <div class="container">
            <h5 style="text-align: center"><b>Aryan Devikar</b></h5>
            <p>
              Porro maxime dolorum pariatur aliquid molestias, illum corrupti
              ullam reiciendis in est!
            </p>
          </div>
        </div>
      </div>
    </div>

    <script
      language="javascript"
      type="text/javascript"
      src="index.js"
    ></script>
  </body>
</html>
